@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Onboard New Engineer Hire</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    @Html.LabelFor(model => model.License)
    @Html.TextBoxFor(model => model.License)

    @Html.Label("Machine Assignment: ")
    @Html.DropDownList("MachineId", " ")

    <input type="submit" value="Add new engineer" class="btn">
}

<p>@Html.ActionLink("Back to Engineer Roster", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>