@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Details</h1>
<h3>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>License(s): @Html.DisplayFor(model => model.License)</h3>

@if(@Model.Machines.Count == 0)
{
    <p>This engineer has not been assigned to a machine</p>
}
else
{
    <h3>Machine(s) Authorized to Operate</h3>
    <ul>
        @foreach (var join in Model.Machines)
        {
            <li><p>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineId})</p></li>
            @using (Html.BeginForm("DeleteMachine", "Engineers"))
            {
                @Html.Hidden("joinId", @join.EngineerMachineId)
                <input type="submit" value="Remove Machine">
            }
        }
    </ul>
}

<p>@Html.ActionLink("Edit This Engineer", "Edit", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Remove This Engineer", "Delete", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Back to Engineer Roster", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>